@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body,
:root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  overscroll-behavior-y: none;
}

input,
a {
  font-size: 16px;
}

.shadow-top {
  box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.01), 0 -5px 4px -1px rgba(0, 0, 0, 0.07);
}

.prevent-text-select {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Standard syntax */
}

@layer base {
  :root {
    --background: oklch(0.9689 0.0090 314.7819);
    --foreground: oklch(0.3729 0.0306 259.7328);
    --card: oklch(1.0000 0 0);
    --card-foreground: oklch(0.3729 0.0306 259.7328);
    --popover: oklch(1.0000 0 0);
    --popover-foreground: oklch(0.3729 0.0306 259.7328);
    --primary: oklch(0.7090 0.1592 293.5412);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.9073 0.0530 306.0902);
    --secondary-foreground: oklch(0.4461 0.0263 256.8018);
    --muted: oklch(0.9464 0.0327 307.1745);
    --muted-foreground: oklch(0.5510 0.0234 264.3637);
    --accent: oklch(0.9376 0.0260 321.9388);
    --accent-foreground: oklch(0.3729 0.0306 259.7328);
    --destructive: oklch(0.8077 0.1035 19.5706);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0.9073 0.0530 306.0902);
    --input: oklch(0.9073 0.0530 306.0902);
    --ring: oklch(0.7090 0.1592 293.5412);
    --chart-1: oklch(0.7090 0.1592 293.5412);
    --chart-2: oklch(0.6056 0.2189 292.7172);
    --chart-3: oklch(0.5413 0.2466 293.0090);
    --chart-4: oklch(0.4907 0.2412 292.5809);
    --chart-5: oklch(0.4320 0.2106 292.7591);
    --sidebar: oklch(0.9073 0.0530 306.0902);
    --sidebar-foreground: oklch(0.3729 0.0306 259.7328);
    --sidebar-primary: oklch(0.7090 0.1592 293.5412);
    --sidebar-primary-foreground: oklch(1.0000 0 0);
    --sidebar-accent: oklch(0.9376 0.0260 321.9388);
    --sidebar-accent-foreground: oklch(0.3729 0.0306 259.7328);
    --sidebar-border: oklch(0.9073 0.0530 306.0902);
    --sidebar-ring: oklch(0.7090 0.1592 293.5412);
    --font-sans: Open Sans, sans-serif;
    --font-serif: Source Serif 4, serif;
    --font-mono: IBM Plex Mono, monospace;
    --radius: 1.5rem;
    --shadow-x: 0px;
    --shadow-y: 8px;
    --shadow-blur: 16px;
    --shadow-spread: -4px;
    --shadow-opacity: 0.08;
    --shadow-color: hsl(0 0% 0%);
    --shadow-2xs: 0px 8px 16px -4px hsl(0 0% 0% / 0.04);
    --shadow-xs: 0px 8px 16px -4px hsl(0 0% 0% / 0.04);
    --shadow-sm: 0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 1px 2px -5px hsl(0 0% 0% / 0.08);
    --shadow: 0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 1px 2px -5px hsl(0 0% 0% / 0.08);
    --shadow-md: 0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 2px 4px -5px hsl(0 0% 0% / 0.08);
    --shadow-lg: 0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 4px 6px -5px hsl(0 0% 0% / 0.08);
    --shadow-xl: 0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 8px 10px -5px hsl(0 0% 0% / 0.08);
    --shadow-2xl: 0px 8px 16px -4px hsl(0 0% 0% / 0.20);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
  }

  .dark {
    --background: oklch(0.2161 0.0061 56.0434);
    --foreground: oklch(0.9299 0.0334 272.7879);
    --card: oklch(0.2805 0.0309 307.2326);
    --card-foreground: oklch(0.9299 0.0334 272.7879);
    --popover: oklch(0.2805 0.0309 307.2326);
    --popover-foreground: oklch(0.9299 0.0334 272.7879);
    --primary: oklch(0.7874 0.1179 295.7538);
    --primary-foreground: oklch(0.2161 0.0061 56.0434);
    --secondary: oklch(0.3416 0.0444 308.8496);
    --secondary-foreground: oklch(0.8717 0.0093 258.3382);
    --muted: oklch(0.2283 0.0375 302.9006);
    --muted-foreground: oklch(0.7137 0.0192 261.3246);
    --accent: oklch(0.3858 0.0509 304.6383);
    --accent-foreground: oklch(0.8717 0.0093 258.3382);
    --destructive: oklch(0.8077 0.1035 19.5706);
    --destructive-foreground: oklch(0.2161 0.0061 56.0434);
    --border: oklch(0.3416 0.0444 308.8496);
    --input: oklch(0.3416 0.0444 308.8496);
    --ring: oklch(0.7874 0.1179 295.7538);
    --chart-1: oklch(0.7874 0.1179 295.7538);
    --chart-2: oklch(0.7090 0.1592 293.5412);
    --chart-3: oklch(0.6056 0.2189 292.7172);
    --chart-4: oklch(0.5413 0.2466 293.0090);
    --chart-5: oklch(0.4907 0.2412 292.5809);
    --sidebar: oklch(0.3416 0.0444 308.8496);
    --sidebar-foreground: oklch(0.9299 0.0334 272.7879);
    --sidebar-primary: oklch(0.7874 0.1179 295.7538);
    --sidebar-primary-foreground: oklch(0.2161 0.0061 56.0434);
    --sidebar-accent: oklch(0.3858 0.0509 304.6383);
    --sidebar-accent-foreground: oklch(0.8717 0.0093 258.3382);
    --sidebar-border: oklch(0.3416 0.0444 308.8496);
    --sidebar-ring: oklch(0.7874 0.1179 295.7538);
    --font-sans: Open Sans, sans-serif;
    --font-serif: Source Serif 4, serif;
    --font-mono: IBM Plex Mono, monospace;
    --radius: 1.5rem;
    --shadow-x: 0px;
    --shadow-y: 8px;
    --shadow-blur: 16px;
    --shadow-spread: -4px;
    --shadow-opacity: 0.08;
    --shadow-color: hsl(0 0% 0%);
    --shadow-2xs: 0px 8px 16px -4px hsl(0 0% 0% / 0.04);
    --shadow-xs: 0px 8px 16px -4px hsl(0 0% 0% / 0.04);
    --shadow-sm: 0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 1px 2px -5px hsl(0 0% 0% / 0.08);
    --shadow: 0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 1px 2px -5px hsl(0 0% 0% / 0.08);
    --shadow-md: 0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 2px 4px -5px hsl(0 0% 0% / 0.08);
    --shadow-lg: 0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 4px 6px -5px hsl(0 0% 0% / 0.08);
    --shadow-xl: 0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 8px 10px -5px hsl(0 0% 0% / 0.08);
    --shadow-2xl: 0px 8px 16px -4px hsl(0 0% 0% / 0.20);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.orange_gradient {
  @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
}

.green_gradient {
  @apply bg-gradient-to-r from-green-400 to-green-500 bg-clip-text text-transparent;
}

.blue_gradient {
  @apply bg-gradient-to-r from-blue-600 to-cyan-400 bg-clip-text text-transparent;
}

/* Add this custom CSS to your stylesheet */
.gradient-border {
  position: relative;
}

.gradient-border::before {
  content: '';
  position: absolute;
  top: -3px;
  /* offset by border width */
  left: -3px;
  /* offset by border width */
  right: -3px;
  /* offset by border width */
  bottom: -3px;
  /* offset by border width */
  border-radius: inherit;
  background: linear-gradient(319deg, #ba2d0b 0%, #fe7f2d 37%, #ffbf46 100%);
  /* Your gradient colors */
  z-index: -1;
  /* Place it behind the main content */
}

.gradient-border::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  background-color: white;
  /* or your desired background color */
  z-index: 1;
  /* Place it above the gradient */
}

.custom-input-focus {
  outline: none !important;
  box-shadow: none !important;
}

.custom-input-focus:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }

  33% {
    transform: translate(30px, -50px) scale(1.1);
  }

  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }

  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob {
  animation: blob 7s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(156, 163, 175, 0.5);
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(107, 114, 128, 0.8);
}

.mask-image-b {
  mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
}